<!DOCTYPE html>
<html>
  <head>
    <title>DividendReporter</title>
    <%= stylesheet_link_tag 'reset-min', 'demo_table', 'screen' -%>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <div id="main_wrap">
      <div id="header">
        <div id="header_content">
          <h1>DividendReporter</h1>
        </div>
      </div>
      <div id="content_bg">
        <div id="content_wrap">
          <div id="content">
            <%= yield -%>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="footer_content">
          <p>DividendReporter 2010</p>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery', 'jquery.dataTables.min', 'application' -%>
    <%= yield :javascripts -%>
  </body>
</html>
